@model demoTMDT.Models.Hang

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/NVKHO.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Hang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SĐT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SĐT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.IdHang }) |
    @Html.ActionLink("Back to List", "Index")
</p>
