@model demoTMDT.Models.PhieuMua

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/NVBanHang.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PhieuMua</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdPM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdPM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayMua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayMua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhuyenMai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhuyenMai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ghichu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ghichu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TinhTrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SĐT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SĐT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mau)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
